.background{
    background-color:aquamarine;
    display:flex;
    width:800px;
    align-items:center;
    justify-content:left;
}
.box{
    background-color:white;
    margin:10px;
    width:100px;
    height:270px;
    display:flex;
    justify-content: center;
}
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4){
    height:100px;
    margin:8px;
    align-items:center;

}
.box:nth-child(3){
    align-self:flex-start;
}
.box:nth-child(4){
    align-self:flex-end;
}
