body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

nav a.active {
  background-color: #555;
  color: cyan;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
