* {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

body {
  background: #b9e8c6;
}

.searchBox {
  background: #59d5e0;
  border: 1px solid #113946;
  border-radius: 50px;
  display: flex;
  padding: 0.5% 1.5% 0.5% 0.5%;
  width: 250px;
}

#cityInput {
  padding-left: 5%;
  font-size: large;
  background: transparent;
  border: none;
  color: #113946;
}

#cityInput:focus {
  outline: none;
}

#submit-btn {
  background: transparent;
  color: #113946;
  border: none;
  font-size: large;
  cursor: pointer;
}
